@(category: Form[UpdateCategoryForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.CategoryController.updateCategoryHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@category("id").value" type="hidden" />
        @inputText(category("name")))

    <div class="buttons">
        <input type="submit" value="Update User"/>
    </div>
} <br>
<a href="@controllers.routes.HomeController.index">Index</a>
<br>
<a href="@controllers.routes.CategoryController.getCategories">Users</a>