@(products: Seq[Product])
<h2>PRODUCTS</h2>
@for(product <- products) {
    <b>@product.name</b>
    @product.description
    @product.category
    <a href="@controllers.routes.ProductController.getProduct(product.id)">View</a>
    <a href="@controllers.routes.ProductController.updateProduct(product.id)">Edit</a>
    <a href="@controllers.routes.ProductController.deleteproduct(product.id)">Delete</a>
    <br>
}
<a href="@controllers.routes.ProductController.addProduct">Add product</a><br>
<a href="@controllers.routes.HomeController.index">Index</a>
